<nav class="indigo darken-1">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">
      Emaily
    </a>

    <ul 
      id="nav-mobile" 
      class="right hide-on-med-and-down"
      [ngSwitch]="auth"
    >
      <ng-template [ngSwitchCase]="true">
        <li>
            <button class="btn waves-effect waves-light">Add Credits</button>
        </li>
        <li style="margin: 0 10px;">Credits: 10</li>
        <li>Logout</li>
      </ng-template>
      <ng-template [ngSwitchCase]="false">
        <li>
          <a href="/auth/facebook">Login with Facebook</a>
        </li>
      </ng-template>
      <ng-template *ngSwitchDefault></ng-template>
    </ul>
  </div>
</nav>