<nav class="indigo darken-1">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">
      Emaily
    </a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <ng-container *ngIf="isLoggedIn">
        <li>
            <button data-target="stripe" class="modal-trigger btn waves-effect waves-light">Add Credits</button>
        </li>
        <li style="margin: 0 10px;">Credits: {{ authUser.credits }}</li>
        <li>
          <a href="/api/logout">Logout</a>
        </li>
      </ng-container>
      
      <ng-container *ngIf="!isLoggedIn">
        <li>
          <a href="/auth/facebook">Login with Facebook</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>

<!-- Modal Structure -->
<div id="stripe" class="modal">
  <app-payment></app-payment>
</div>